section#contact
    .container
        .row
            .col-sm-6.col-12
                .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                    h2 Message the Greaney Group
                .wow.fadeInUp(data-wow-delay='0.4s')
                    form#contact-form
                        .row
                            .col-md-6.col-sm-6
                                input.form-control(type='text', name='name', placeholder='Name')
                            .col-md-6.col-sm-6
                                input.form-control(type='email', name='email', placeholder='Email')
                        .row
                            .col-md-12.col-sm-12
                                textarea.form-control(rows='5', name='message', placeholder='Message')
                        .row
                            .col-md-offset-8.col-md-4.col-sm-offset-6.col-sm-6.submit-box
                                button#submit.form-control(type='submit', name='submit') Send Message
                            .col-12.msg-box.hidden
                                h4.message.text-danger



            .col-sm-5.offset-sm-1.col-12
                .wow.fadeInUp.contact-info(data-wow-delay='0.4s')
                    .section-title.mb-4
                        h2 Contact Information
                        //p
                        //    | Lorem ipsum dolor sit consectetur adipiscing morbi venenatis et tortor consectetur adipisicing lacinia tortor morbi ultricies.
                    p
                        i.fa.fa-map-marker
                        span UC Riverside #{about.location}
                    p
                        i.fa.fa-envelope
                        span #{about.email}
                        //a(href='mailto:' + about.email) #{about.email}
                    p
                        i.fa.fa-phone
                        span #{about.phone}
                    p
                        i.fa.fa-university
                        span Mail: #{about.mailingAddress}