mixin personContent(person)
    .contentWrap.d-flex.flex-column.align-content-center.m-md-3
        .content.pl-3.pr-2.px-md-3
            .member-img-box.mx-auto.text-center
                img.img-responsive.img-member.lazy(data-original= person.imageUrl, alt= person.name)
            .basic-info.d-flex.flex-column.justify-content-center.align-items-center.mt-2
                .affiliation
                    img(src=person.affiliation.logo)
                h5.text-center= person.name
                each roleSnippet in person.role
                    small.pb-1= roleSnippet
                button.btn.btn-more-info
                    i.fa.fa-info
            .expanded-info
                .links.d-flex.justify-content-center.my-2
                    a.btn-link(href="mailto:" + person.email, data-toggle="tooltip", data-placement="top", data-trigger"hover click", title=person.email)
                        i.fa.fa-envelope-o.px-2
                    if person.gitHub
                        a.btn-link(href= person.gitHub, target="_blank", data-toggle="tooltip", data-placement="top", title="GitHub")
                            i.fa.fa-github.px-2
                    if person.linkedIn
                        a.btn-link(href= person.linkedIn, target="_blank", data-toggle="tooltip", data-placement="top", title="LinkedIn")
                            i.fa.fa-linkedin.px-2
                    if person.googleScholar
                        a.btn-link.gray-tooltip(href= person.googleScholar, target="_blank", data-toggle="tooltip", data-placement="top", title="Google Scholar")
                            i.fa.fa-graduation-cap.px-2
                    if person.researchGate
                        a.btn-link(href= person.researchGate, target="_blank", data-toggle="tooltip", data-placement="top", title="Research Gate Profile")
                            i.fa.fa-flask.px-2
                    if person.cvLink
                        a.btn-link(href= person.cvLink, target="_blank", data-toggle="tooltip", data-placement="top", title= person.name + "'s CV")
                            i.fa.fa-file-text-o.px-2
                    if person.personalWebsite
                        a.btn-link(href= person.personalWebsite, target="_blank", data-toggle="tooltip", data-placement="top", title= person.name + "'s website")
                            i.fa.fa-link.px-2
                    if person.associatedWebsite
                        a.btn-link(href= person.associatedWebsite, target="_blank", data-toggle="tooltip", data-placement="top", title= person.associatedWebsite)
                            i.fa.fa-link.px-2
                    if person.otherWebsite
                        a.btn-link(href= person.otherWebsite, target="_blank", data-toggle="tooltip", data-placement="top", title= person.otherWebsite)
                            i.fa.fa-link.px-2
                p.academic.text-light= person.academicBackground
                p.research.text-light= person.researchInterests
                p.funFacts.text-light= person.funFacts


section#group-members
    .container
        .wow.fadeInUp.section-title(data-wow-delay='0.2s')
            h1 The Greaney Group
        .group-list.d-flex.flex-wrap.justify-content-center
            each person in groupMembers
                +personContent(person)
        .group-list-more
            .section-title
                h3 Greaney Group Alumni        
            .d-flex.flex-wrap.justify-content-center
                each person in groupAlumni
                    +personContent(person)  
           
        .row
            .col.pl-lg-5.text-right
                button.btn.btn-link.px-2.show-more-btn(type="button") Show alumni

