section#group-members-fun
    .container
        .row
            .col-md-12.col-sm-12.mb-5
                .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 The Greaney Group
                p Lorem ipsum dolor sit amet, consectetur venenatis tincidunt.
        .d-flex.flex-wrap.mb-3.justify-content-between
            each person, index in groupMembers
                .contentWrap.d-flex.flex-column.align-content-center
                    .content
                        .member-img-box.mx-auto
                            img.img-fluid.img-member(src= person.imageUrl, alt= person.name)
                        .basic-info.d-flex.flex-column.justify-content-around.align-items-center.my-2
                            h5.text-center= person.name
                            small.text-center= person.role
                            small.text-center= person.email
                            .icons.d-flex.justify-content-between.m-2
                                if person.gitHub
                                    a(href= person.gitHub, target="_blank")
                                        i.fa.fa-github
                                if person.linkedIn
                                    a(href= person.linkedIn, target="_blank")
                                        i.fa.fa-linkedin
                                if person.googleScholar
                                    a.gray-tooltip(href= person.googleScholar, target="_blank", data-toggle="tooltip", data-placement="top", title="Google Scholar")
                                        i.fa.fa-graduation-cap
                                if person.researchGate
                                    a(href= person.researchGate, target="_blank", data-toggle="tooltip", data-placement="top", title="Research Gate Profile")
                                        i.fa.fa-flask
                                if person.cvLink
                                    a(href= person.cvLink, target="_blank", data-toggle="tooltip", data-placement="top", title= person.name + "'s CV")
                                        i.fa.fa-file-text-o
                                        //i.fa.fa-id-card-o
                                if person.personalWebsite
                                    a(href= person.personalWebsite, target="_blank", data-toggle="tooltip", data-placement="top", title= person.name + "'s website")
                                        i.fa.fa-link
                                        //i.fa.fa-id-badge
                                        //i.fa.fa.user-circle-o
                                if person.associatedWebsite
                                    a(href= person.associatedWebsite, target="_blank", data-toggle="tooltip", data-placement="top", title= person.associatedWebsite)
                                        i.fa.fa-link
                                        //i.fa.fa-id-badge
                                        //i.fa.fa.user-circle-o
                        .expanded-info.px-3
                            p.academic.text-gray= person.academicBackground
                            p.research.text-gray= person.researchInterests
                            p.funFacts.text-gray-light= person.funFacts

