doctype html
html(lang='en')
    head
        //- Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110811436-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-110811436-1');
        meta(charset='UTF-8')
        title Dr. Alex Greaney, Computational Materials Science
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', content='Computational Materials Site')
        meta(name='keywords', content='Dr. Greaney, Alex Greaney, Materials Science, Computational Modeling, Henri, Computational Materials Science, bulk metallic glass, metal-organic frameworks, advanced batteries,  thermoelectric silicon, shape changing materials, geckos, phonon transport, Jackson Harter ')
        meta(name='author', content='peng lam')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='preload', href='main.css?v1.0.1')
    body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
        include nav.pug
        include main-page.pug
        footer.py-5
            p Website built by 
                a.autumn(href="http://autumnfjeld.com", target="_blank") Autumn Fjeld
            ul.social-icons
                li
                    a.fa.fa-envelope-o(href="mailto:autumnfjeld@gmail.com", 
                        data-toggle="tooltip", 
                        data-placement="top", 
                        data-trigger"hover click", 
                        title="autumnfjeld@gmail.com")
                li
                    a.fa.fa-linkedin(href="https://www.linkedin.com/in/autumnfjeld/",
                         target="_blank", 
                         data-toggle="tooltip", 
                         data-placement="top", 
                         title="LinkedIn")                     
            p.small.mb-1.mt-2 Template design based on 
                a(href="http://preview.themeforest.net/item/homane-minimal-resume-html-template/full_screen_preview/19682315?_ga=2.140194995.1039933768.1493948585-1211979247.1489464104") Homane Template
            p.small.mb-0 Report website issues to 
                a.autumn(href="mailto:autumnfjeld@gmail.com") autumnfjeld@gmail.com
    script(src="build.js?v1.0.1")
