doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Dr. Alex Greaney
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='description', content='Computational Materials Site')
        meta(name='keywords', content='Alex Greaney, Materials Science, Computational Modeling, Henri')
        meta(name='author', content='peng lam')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='main.css?v0.9.2')
    body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
        include nav.pug
        include main-page.pug
        footer.py-4
            p Website built by 
                a.autumn(href="http://autumnfjeld.com", target="_blank") Autumn Fjeld.
            ul.social-icons
                li
                    a.fa.fa-envelope-o(href="mailto:autumnfjeld@gmail.com", 
                        data-toggle="tooltip", 
                        data-placement="top", 
                        data-trigger"hover click", 
                        title="autumnfjeld@gmail.com")
                li
                    a.fa.fa-linkedin(href="https://www.linkedin.com/in/autumnfjeld/",
                         target="_blank", 
                         data-toggle="tooltip", 
                         data-placement="top", 
                         title="LinkedIn")                     
            p.small Template based on 
                a(href="http://preview.themeforest.net/item/homane-minimal-resume-html-template/full_screen_preview/19682315?_ga=2.140194995.1039933768.1493948585-1211979247.1489464104") Homane Template
    script(src="build.js?v0.9.2")
