section#publications
    .container
        .wow.fadeInUp.section-title(data-wow-delay='0.2s')
             h2 Publications
        .publication-list
            each pub in publications
                - var popoverClass = pub.Fields.Abstract ? 'abstract-popover-hover' : null
                - var popoverTitle = pub.Fields.Abstract ? 'Abstract' : null
                blockquote.blockquote
                    a.d-block(
                    class= popoverClass
                    data-toggle="popover",
                    title=popoverTitle,
                    data-content=pub.Fields.Abstract)
                        span.authors.mr-1=  pub.Fields.Author + ',  '
                        span.title.mr-1= "'" + pub.Fields.Title + "', "
                        if pub.Fields.Journal
                            span.font-italic= pub.Fields.Journal + ', '
                        span.mr-1
                            if pub.Fields.Volume
                                span= 'vol. ' + pub.Fields.Volume + ', '
                            if pub.Fields.Pages
                                span= 'pp. ' + pub.Fields.Pages + ', '
                            if pub.Fields.Month
                                span= pub.Fields.Month + ', '
                            if pub.Fields.Year
                                span= pub.Fields.Year + '. '
                        if pub.Fields.DOI
                            span.mr-1
                            a.d-inline-block(href= 'https://dx.doi.org/' + pub.Fields.DOI, target='_blank')
                                span= 'doi link ' + pub.Fields.DOI
        .row.d-flex.justify-content-end
            button.btn.btn-link.small.mr-3.show-more-btn(type=button) Show more
