section#publications
    .container
        .row
            .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 Publications
        div
            each pub in publications
                blockquote.blockquote
                    a.abstract-popover-hover(
                    data-toggle="popover",
                    title="Abstract", data-content=pub.Fields.Abstract)
                        span.authors.mr-1=  pub.Fields.Author + ',  '
                        span.title.mr-1= "'" + pub.Fields.Title + "', "
                        span.font-italic= pub.Fields.Journal + ', '
                        span.mr-1
                            span= 'vol. ' + pub.Fields.Volume + ', '
                            if pub.Fields.Pages
                                span= 'pp. ' + pub.Fields.Pages + ', '
                            if pub.Fields.Month
                                span= pub.Fields.Month + '.'
                            else
                                span= pub.Fields.Year + '.'
                        if pub.Fields.DOI
                            span.mr-1
                            a.d-inline-block(href= 'https://dx.doi.org/' + pub.Fields.DOI, target='_blank')
                                span= 'doi link ' + pub.Fields.DOI