section#research-project
    .white-popup
        .row
            i.fa.fa-times
            .mfp-close
            .col-md-12.col-sm-12
                //a.back.mb-4(href="#research")
                //    i.fa.fa-arrow-left
                //    span Back

                .section-title
                    h3 #{title}

        if layout !== "bigImage"
            .row
                .col-md-3
                    .card
                        ul.list-group.list-group-flush
                            li.list-group-item Lisa Jones PhD
                            li.list-group-item Suzi Queue
                            li.list-group-item paper references
                            li.list-group-item Links to other places
                    figure.figure.mt-2
                        img.figure-img.img-fluid.rounded(src=imageUrl, alt=imageTitle)
                        figcaption.figure-caption  #{imageCaption}
                .col-md-8
                    .text-columns
                        each paragraph in expandedText
                            p= paragraph

        else
            .row
                figure.figure.mt-2.text-center
                    img.figure-img.img-fluid.rounded(src=projectImages[0].imgUrl, alt=projectImages[0].imgCaption)
                .text-columns.px-5.pb-5
                    p #{abstract}
                    each paragraph in projectWriteUp
                        p= paragraph

