mixin courseInfo(course)
    .d-inline-block
        .d-flex.align-items-start
            h5.pr-2= course.name
        .d-flex.align-items-baseline
            h6.pr-2
                span= course.classNumber
                if course.crossListing
                    span /
                span= course.crossListing
            p= course.institute

section#teaching
    .container
        .row
            .col-12
                .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                    h2 Teaching
        .row.justify-content-between
            each course in teaching
                - var courseNumber = course.crossListing ? course.classNumber + "/" + course.crossListing : course.classNumber
                .col-sm-12.col-md-6.wow.fadeInUp(data-wow-delay='0.4s')
                    .d-flex.flex-wrap.mb-3

                        a.hidden-sm-down.d-block.course-catalog-popover(
                        data-toggle="popover",
                        data-placement="bottom",
                        title="Catalog Description " + courseNumber,
                        data-content=course.catalogText)
                            +courseInfo(course)
                        a.hidden-sm-down.btn-link.gray-tooltip(
                        href= course.synopsisUrl,
                        target="_blank",
                        data-toggle="tooltip",
                        data-placement="top",
                        title="Course Synopsis")
                            i.fa.fa-file-text-o.course-synopsis-link

                        .hidden-md-up
                            +courseInfo(course)
                        a.hidden-md-up.btn-link(href= course.synopsisUrl, target="_blank")
                            i.fa.fa-file-text-o.course-synopsis-link
                            //TODO on mobile put links on 2nd line for both catalog & sysnopsis ?
