section#group-members
    .container
        .row
            .wow.fadeInUp.section-title(data-wow-delay='0.2s')
                h2 Group Members

        .row.justify-content-around
            each person in app.groupMembers
                                    .col-md-6.col-sm-6.wow.fadeInUp(data-wow-delay='0.4s')
                                        .group-thumb
                                            .row
                                                .col-5
                                                    img.img-person(src= person.imageUrl)
                                                .col
                                                    <br>
                                                    <br>
                                                    h4= person.name
                                                    p= person.role
                                                    p= person.email
                                                    .icons
                                                        i.fa.fa-github
                                                        i.fa.fa-flask
                                                        i.fa.fa-linkedin
                                            <br>
                                            .row
                                                .col-md-11
                                                    strong Research Interests
                                                    span.text= person.researchInterests
                                                    p= person.funFacts

